@font-face {
  font-family: roboto;
  src: url(font/Roboto-VariableFont_wdth,wght.ttf);
}

* {
    font-family: roboto;
    
}

body {
    margin: 0;
    background: rgb(216, 221, 226);
}

ul, li {
    list-style: none;
    padding-inline-start: 5px;
  }
  

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: fit-content;
}

.container .header {
    background:white;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.header .search-bar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 30px;
    height: fit-content;
}

.header .search-bar .profile-icon {
    width: 40px;
    height: 40px;
}

.header .search-bar img {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.header .search-bar input {
    background-color: rgb(216, 221, 226);
    border: none;
    border-radius: 20px;
    flex-grow: 4;
    height: 30px;
    margin-right: 70px;
}

.header .search-bar .title {
    padding-right: 30px;
    padding-left: 10px;
    font-weight: 500;
    
}

.header .welcome {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 30px;
    margin-bottom: 20px;
    
}

.header .welcome .menu ul {
    display: flex;
}

.header .welcome .menu ul li {
    color: white;
    justify-content: center;
    padding: 10px 0px;
    width: 90px;
    margin: 10px;
    background-color: rgb(47, 156, 228);
    border-radius: 20px;
}

.header .welcome img {
    width: 60px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.welcome .welcome-title {
    flex-grow: 4;
}

.welcome-title div:first-child {
    font-size: 15px;
    padding-bottom: 5px;
    font-weight: 500; 
}

.welcome-title .title {
    font-size: 20px;
    font-weight: 500; 
}

.sidebar img {
    width: 50px;
    height: 50px;
    padding: 10px;
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(56deg) brightness(105%) contrast(106%);
}

.profile-icon {
    border-radius: 50%;
}


.menu img {
    width: 30px;
    height: 30px;
    padding: 10px;
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(56deg) brightness(105%) contrast(106%);
}

.menu-header .title {
    font-size: 25px;
}

.menu ul li, .menu-header {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;   
}


.menu ul li:nth-child(7) {
    padding-top: 30px;
 }

.container .sidebar {
    background: rgb(47, 156, 228);
    grid-area: 1 / 1 / 3 / 2;
}

.container .main-content {
    background: rgb(216, 221, 226);
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    height: fit-content;
    padding: 20px;

}

.container .main-content .projects .project-cards {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(200px, 1fr));

}

.projects, .announcements, .trending {
    margin: 15px;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.heading  {
    font-weight: 500;
}

.container .main-content .projects .project-cards .card {
    background-color: white;
    border-radius: 10px;
    border-left: 8px solid rgb(249, 230, 148); 
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1px 3px 3px #ccc;
}

.container .main-content .projects .project-cards .card .title {
    font-weight: 500;
}

.container .main-content .projects .project-cards .card p {
    margin: 5px;
}

.container .main-content .projects .project-cards .card .icons {
    display: flex;
    justify-content: flex-end;

}

.container .main-content .projects .project-cards .card .icons img {
    width: 25px;
    height: 25px;
    padding: 10px;
}

.container .main-content .projects .project-cards .card .description {
    color: grey;
    font-size: 12px;
    font-weight: 300;
}

.announcements .announcement-cards, .trending .treanding-accounts {
    background: white;
    border-radius: 10px;
    padding: 15px;
    font-size: 12px;
    box-shadow: 0px 1px 3px 3px #ccc;
}

.announcements .announcement-cards, .trending {
    margin-top: 0;
}

.announcements .announcement-cards {
    padding: 15px;
}

.announcements .announcement-cards .card {
    padding-top: 10px;
}


.announcements .announcement-cards .card .title {
    font-weight: 600;
    margin: 5px; 
}

.announcements .announcement-cards .card .description {
    color: grey;
    font-size: 10px;
    font-weight: 300;
    margin: 5px;
    padding-bottom: 15px;

}
.announcements .announcement-cards .card:nth-child(-n + 2) .description {
   border-bottom: 1px solid rgb(216, 221, 226);  
}
    

.trending .treanding-accounts .account {
    display: flex;
    align-items: center;
}

.trending .treanding-accounts .account .profile-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.trending .treanding-accounts .account {
    display: flex;
    align-items: center;
}

.trending .treanding-accounts .account .description {
    color: grey;
    font-weight: 300;
}

.trending .treanding-accounts .account p {
    margin: 5px;
}




